.CardLeftPart {
    margin-left: 18px;
    padding: 5px;
    width: 50%;
    position: relative;
}

.image {
    min-width: 229px;
    width: 229px;
    height: 229px;
    cursor: pointer;
    img {
        min-width: 229px;
        width: 229px;
        height: 229px;
        border-radius: 45px 45px 45px 0px;
        object-fit: cover;
    }
}

.artist {
    display: block;
}

.name {
    position: absolute;
    width: 505px;
    left: 5px;
    top: 245px;
    span {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }
    svg {
        margin-left: 270px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            transform: scale(1.1,1.1);
        }
    }
}

.descriptionTitle {
    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
}

.text {
    position: absolute;
    width: 505px;
    height: 205px;
    left: 5px;
    top: 290px;
    span {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 1px;
        opacity: 80%;
    }
}