.ArtistCard {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 95%;
    height: 524px;
    background: rgb(3, 3, 3);
    padding-top: 18px;
    color: #ffffff;
}