.MyTracks {
    width: 100%;
}

.title {
    width: 100%;
    display: flex;
    padding-left: 65px;
    h1 {
        font-weight: 400;
        font-size: 19px;
        line-height: 35px;
    }
}

.Tracks {
    width: 100%;
    margin-top: 15px;
}