.Track {
    padding-left: 200px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 74px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        background: rgba(255, 255, 255,0.1);
        color: #fff;
        .cover {
            img {
                transform: translate(5px,5px);
                filter: brightness(90%);
            }
        }
        .actions {
            display: flex;
            div {
                svg {
                    fill: #fff;
                }
            }
        }
    }
}

.Content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cover {
    min-width: 55px;
    min-height: 55px;
    max-width: 55px;
    max-height: 55px;
    margin-right: 11px;
    margin-left: -1px;
    img {
        width: 100%;
        height: 100%;
        transition: 0.5s ease;
        min-height: 55px;
        border-radius: 8px;
    }   
}

.info {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.name {
    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        @media (max-height: 700px) {
            font-size: 11px;
        }
    }
}

.artist {
    display: flex;
    align-items: center;
    gap: 5px;
    svg {
        opacity: 0.6;
    }
    span {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.2px;
        line-height: 25px;
        opacity: 0.6;
        @media (max-height: 700px) {
            font-size: 11px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.album {
    width: 25%;
    margin-right: 20px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: white;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.2px;
        line-height: 26px;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.duration {
    width: 15%;
    text-align: center;
    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        opacity: 70%;
    }
}

.actions {
    height: 100%;
    width: 120px;
    align-items: center;
    display: none;
    margin-left: auto;
    transition: 0.3s ease;
    div {
        &:hover {
            svg {
                transform: scale(0.9,0.9);
            }
        }
    }
}

.add {
    opacity: 80%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    &:hover {
        background: rgb(77, 77, 77);
    }
    svg {
        width: 19px;
        height: 19px;
        fill: #fff;
    }
}

.more {
    width: 50%;
    height: 100%;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    &:hover {
        background: rgb(77, 77, 77);
    }
    svg {
        fill: rgb(255, 255, 255);
    }
}


.Actions {
    width: 210px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(25px);
    transition: 0.3s ease;
    .Action {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        transition: 0.3s ease;
        font-size: 12px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        padding-left: 15px;
        position: relative;
        &:hover {
            background: rgba(0, 0, 0, 0.5);
        }
        .Icon {
            padding-right: 15px;
            width: 20px;
            height: 20px;
            margin-right: 15px;
			opacity: 0.7;
            svg {
                width: 20px;
                height: 20px;
            }
        }
        .IconRight {
            padding-right: 15px;
            width: 20px;
            height: 20px;
            margin-right: 13px;
            margin-left: 2px;
            margin-top: 3px;
			opacity: 0.7;
            svg {
                width: 15px;
                height: 15px;
                fill: white;
            }
        }
    }
}

.addPlaylistsPanel {
    position: absolute;
    left: 0;
    top: 55px;
    width: 200px;
}

.Playlists {
    width: 210px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
        
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(133, 133, 133);
        border-radius: 5px;
    }
    .Playlist {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 5px;
        border-radius: 5px;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            background: rgba(0, 0, 0, 0.5);
        }
        .Cover {
            min-width: 30px;
            min-height: 30px;
            max-width: 30px;
            max-height: 30px;
            img {
                min-width: 30px;
                min-height: 30px;
                max-width: 30px;
                max-height: 30px;
                border-radius: 5px;
                object-fit: cover;
                object-position: center;
            }
        }
        .Name {
            margin-left: 10px;
            font-size: 12px;
            font-weight: 700;
            color: white;
        }
    }
}