.DownloadOnPanel {
    width: 360px;
    height: 115px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    left: 0;
    bottom: 0;
}