.Login {
    width: 352px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255,0.1);
    transition: 0.3s ease;
    &:hover {
        background: rgba(255, 255, 255, 0.02);
        color: white;
        box-shadow: 0px 5px 20px rgba(255, 255, 255,0.05);
    }
}