.HaveAccount {
    width: 100%;
    margin-top: 10px;
}

.Account {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: default;
    opacity: 0.8;
}

.Register {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-left: 12px;
    cursor: pointer;
}   