.CreateComment {
    margin-top: 17px;
    min-height: 180px;
    width: 100%;
    padding: 15px 35px;
    padding-bottom: 25px;
    border-bottom: rgba(255, 255, 255,0.1) 1px solid;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255,0.1);
}

.upperPart {
    display: flex;
    input {
        background: none;
        height: 50px;
        display: flex;
        align-items: flex-start;
        width: 90%;
        color: #fff;
    }
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;     
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #000;
        object-fit: cover;
    }
}

.lowerPart {
    margin-top: 15px;
    height: 45px;
}

.lowerBar {
    display: flex;
    height: 100%;
    border-radius: 9px;
    //background: #111111;
    width: 100%;
    align-items: center;
    padding-left: 7px;
    position: relative;
    svg {
        fill: #fff;
    }
    div {
        cursor: pointer;
    }
}

.addFile {
    position: relative;
    width: 36px;
    height: 36px;
    input {
        transition: 0.5s ease;
        width: 36px;
        height: 36px;
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    }
    input::-webkit-file-upload-button {
        visibility: hidden;
    }
    input::before {
        content: '';
        width: 100%;
        height: 100%;
        text-align: center;
        display: inline-block;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        position: relative;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
        border-radius: 50%;
        z-index: 5;
    }
    input:active::before {
        background: rgba(0, 0, 0,0.1);
    }
    svg {
        z-index: 1;
        position: absolute;
        fill: rgb(255, 255, 255);
        cursor: pointer;
        left: 0;
        margin: 8px;
    }
}

.addGif {
    margin-right: 15px;
}

.addSticker {
    margin-right: 15px;
}

.addSmile {
    margin-left: auto;
    margin-right: 15px;
}

.publishButton {
    background: #000;
    width: 150px;
    height: 100%;
    //border-radius: 0px 9px 9px 0px;
    border-radius: 10px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;     
    button {
        background: rgb(42, 146, 47);
        width: 100%;
        height: 100%;
        //border-radius: 0px 9px 9px 0px;
        border-radius: 50px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        transition: 0.3s ease;
        &:hover {
            background: rgb(88, 177, 93);
        }
        &:active {
            background: rgb(46, 128, 50);
        }
    }
}

.gifPanel {
    width: 100%;
    input {
        color: #000;
    }
}

.gifPanelUpperPart {
    height: 50px;
    width: 100%;
}

.closePanel {
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: rgba(255, 255, 255,0.1);
    svg {
        width: 35px;
        height: 35px;
        transition: 0.3s ease;
        &:hover {
            background: rgba(255, 255, 255,0.1);
        }
    }
}

.addedFiles {
    min-height: 0px;
    width: 100%;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    padding: 10px;
    max-height: 360px;
}

.addedFile {
    width: 170px;
    height: 170px;
    margin-left: 5px;
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
    &:hover {
        transform: scale(1.05,1.05);
        .deleteFile {
            opacity: 1;
        }
        img {
            border-radius: 15px 0 15px 15px;
        }
    }
    img {
        width: 170px;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
        border: rgba(255, 255, 255,0.2) 1px solid;
        transition: 0.3s ease;
    }
}

.deleteFile {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.3s ease;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    &:hover {
        background: rgba(0, 0, 0,0.7);
    }
    svg {
        width: 25px;
        height: 25px;
    }
}

.gifInput {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: none;
    color: #fff !important;
}

.hiddenVisually {
    display: none;
}