.MainNavigation {
    display: flex;
	width: 50vw;
	min-width: 370px;
	align-items: center;
	justify-content: center;
	justify-self: center;
	margin: 0 auto;
}

.UlNav {
    display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 556px;
    max-height: 55px;
	width: 100%;
}

.UlItem {
    width: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
        svg {
            fill: rgb(255, 255, 255);
            width: 30px;
            height: 30px;
            transition: 0.2s ease;
            &:hover {
                fill: rgb(197, 197, 197);
            }
        }
    }
}

.IndividualButton {
    margin-top: 35px;
    width: 85px;
    height: 85px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.2s ease;
    &:hover {
        margin-top: 5px;
        border-radius: 50% 50% 0 0;
        cursor: pointer;
        background: rgb(197, 197, 197);
    }
}