.Drop {
	position: absolute;
	right: 0;
	bottom: 70px;
	background: rgb(255, 255, 255);
	overflow: hidden;
	transition: all 0.4s ease;
	z-index: 55;
}

.Dropdownmenu {
    width: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 324px;
	h1 {
		padding-left: 18px;
		font-weight: 700;
		opacity: 0.9;
		font-size: 19px;
		line-height: 23px;
	}
}

.ulbutt {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 15px;
	gap: 1px 0;
	li {
		width: 270px !important;
		height: 58px !important;
		padding-left: 8px;
		gap: 0 15px;
		border-radius: 15px;
		padding-right: 15px;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		transition: 0.3s ease;
		a {
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			color: currentColor;
		}
		&:hover {
			width: 280px !important;
			background:local;//#EAEAEA !important;
			svg {
				transform: scale(0.9,0.9) !important;
				fill: currentColor !important;
			}
		}
	}
}
.dropdownItem {
    width: auto;
    height: 55px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lefticon {
    background: rgba(0, 0, 0,0.06);
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        fill: currentColor !important;
        width: 20px !important;
        height: 20px !important;
        transition: 0.2s ease;
        
    }
}

.righticon {
    margin-left: auto;
    height: 25px;
    width: 25px;
    transition: 0.3s ease;
    svg {
        fill: currentColor;
        transition: 0.3s ease;
        height: 20px;
        width: 20px;
    }
}

.ww {
	overflow: hidden;
}