/*Обнуление*/
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    padding: 0;
  margin: 0;
  border: 0;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-mainColor);
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-background-primary: rgb(0, 0, 0);
  --color-background-secondary: rgb(255, 255, 255);
  --color-text-primary: rgb(255, 255, 255);
  --color-login-block: rgb(255, 255, 255);
  --color-login-action-active: rgba(255, 255, 255,0.05);
  --color-white-opacity: rgba(255, 255, 255,0.1);
  --color-black-opacity: rgba(0, 0, 0, 0.1);
  --color-loginInput: rgba(0, 0, 0, 0.05);
  --color-mainColor: black; //#fae73d
}

body {
  overflow: overlay;
  &::-webkit-scrollbar {
      width: 6px;
  }
  &::-webkit-scrollbar-track {
      background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    border-radius: 6px;
  }
}